@import 'foundation';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-button;
@include foundation-typography;

@include foundation-xy-grid-classes;

@include foundation-table;

@import 'components/sidebar.component';
@import 'components/collaspable.component';

.main {
    padding: 10px 20px;
    overflow: scroll;
    height: 100vh;
}

.new-site-row td {
    background: #f1f1f1;
}
